.main-page {
  background: linear-gradient(269deg, #a5deff 0%, #fcfefe 100%);
}

.main-page-text-container {
  width: 573px;
  height: 477px;
  padding: 60px;
  flex-shrink: 0;
  border-radius: 40px;
  background: var(--white, #fff);
}
.main-page-button {
  border-radius: 8px;
  background: var(--orange, rgba(255, 107, 10, 0.73));
  display: inline-flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  border: none;
}
